* {
    margin: 0px;
    padding: 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: #222;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

#container {
    width: 640px;
    display: block;
    margin: 50px auto auto auto;
}

#header,
#footer {
    text-align: center;
    display: block;
    float: left;
    width: 750px;
    color: #E71D36;
    background-color: none;
    font-size: 2.8em;
    font-weight: bold;
    padding: 8px 20px 8px 20px;
    transition-property: background-color;
    transition-duration: 1s;
    -moz-transition-property: background-color;
    -moz-transition-duration: 1s;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 1s;
}

#footer {
    text-align: center;
    font-size: 1.4em;
    padding: 3px 20px;
    margin-bottom: 80px;
}

#footer a {
    text-decoration: none;
    color: #E71D36;
}

#board {
    display: block;
    float: left;
    width: 790px;
    background-color: #FDFFFC;
}

.square,
.freesquare {
    display: block;
    float: left;
    overflow: hidden;
    background-color: #FDFFFC;
    color: #313131;
    text-align: center;
    width: 150px;
    height: 150px;
    padding: 3px;
    border: 1px solid #d1d1d1;
    transition-property: background-color;
    transition-duration: 1s;
    -moz-transition-property: background-color;
    -moz-transition-duration: 1s;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 1s;
}

.selected {
    color: #f1f1f1;
    background-color: #222;
}

.text {
    vertical-align: middle;
    font-size: 1.2em;
    line-height: 1.2em;
    height: inherit;
    width: inherit;
    display: table-cell;
}

.small {
    font-size: 0.8em;
}

.medium {
    font-size: 1.0em;
}

.large {
    font-size: 1.2em;
}

.win {
    color: #ffffff !important;
    background-color: #E71D36;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #container {
        width: 640;
        margin: -7px 0px 0px -7px;
    }
    #header {
        font-size: 3.6em;
        text-align: center;
        padding: 20px 20px 12px 20px;
    }
    #footer {
        padding: 16px 20px 8px 20px;
        font-size: 2.0em;
    }
    .text {
        font-size: 1.2em;
        line-height: 1.2em;
    }
}